@import '../../main.scss';
@import '../../utils/color.scss';

.backdrop {
  @include blurBackdrop(0);
  @include transition(all 0.3s);
  background-color: #{rgba($colorDarkBlackless, 0)};
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &.show {
    background-color: #{rgba($colorDarkBlackless, 0.5)};

    &.blur {
      background: unset;
      @include blurBackdrop(8px);
    }
  }
}
